.anirias-player-v2 {
  width: 100%;
  height: 100%;
  background: #000;
}

.anirias-player-v2__video {
  width: 100%;
  height: 100%;
  background: #000;
  object-fit: cover;
}

body.anirias-player-fs {
  background: #000;
  overflow: hidden;
}

body.anirias-player-fs header,
body.anirias-player-fs nav,
body.anirias-player-fs aside,
body.anirias-player-fs .sidebar,
body.anirias-player-fs .episode-list,
body.anirias-player-fs .overlay {
  display: none !important;
}

body.anirias-player-fs .anirias-player-v2__video {
  object-fit: contain;
}
